.Title {
    color:#7b2ac7;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.Text {
    color:#0078b8;
    text-align: left;
    font-size: x-large;
}

li {
    font-size: large;
    color: #003049;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    list-style-position:inside;
}

.background {
    background-color:rgb(247, 247, 233);
}
